<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        html, body {
            height: 100%;
        }

        td, th {
            text-decoration: none;
            text-align: center
        }

        .row {
            height: 90%;
        }

        .nav {
            height: 10%;
        }

        #fullS {
            height: 100%;
        }

    </style>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #30a5ff">快递小哥后台管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">APP下载</a></li>
                <li><a href="#">订单查询</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        数据库管理
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">用户</a></li>
                        <li class="divider"></li>
                        <li><a href="#">快递员</a></li>
                        <li class="divider"></li>
                        <li><a href="#">总订单</a></li>
                        <li class="divider"></li>
                        <li><a href="#">站点订单</a></li>
                        <li class="divider"></li>
                        <li><a href="#">其他</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col-md-2 sidebar">
        <form role="search">
            <div class="form-group" style="margin-left: 8px">
                <input type="text" class="form-control" placeholder="搜索订单">
            </div>
        </form>
        <ul class="nav menu" style="margin-left: 8px">
            <li><a href="../programme/index"><span
                    class="glyphicon glyphicon-dashboard"></span> 配送方案</a>
            </li> <br>
            <li><a href="../map/index"><span class="glyphicon glyphicon-map-marker"></span> 快递点</a>
            </li>
            <br>
            <li><a  href="../order/orderscan"><span class="glyphicon glyphicon-th"></span> 订单</a>
            </li>
            <br>
            <li><a  href="../user/usermanager"><span
                    class="glyphicon glyphicon-stats"></span> 用户管理</a></li>
            <br>
            <li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> 统计</a></li>
            <br>
            <li><a style="background:#FFF5EE" href="../car/carindex"><span class="glyphicon glyphicon-pencil"></span> 车辆管理</a></li>
            <br>
            <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> 后台接口管理</a></li>
            <br>
            <li role="presentation" class="divider"></li>
        </ul>
        <br>
        <br>
        <br>
        <div class="attribution"></div>
    </div>
    <div class="col-md-10" id="fullS">
        <div ng-app="myApp" ng-controller="car">
            <button class="btn btn-primary add" ng-click="add()">添加</button>
            <table class="table table-bordered" align="center" style="text-align: center">
                <caption>订单列表</caption>
                <thead>
                <tr>
                    <th>编号</th>
                    <th>车牌号</th>
                    <th>车型</th>
                    <th>车辆照片</th>
                    <th>驾驶员</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active" ng-repeat="x in name">
                    <td align="center">{{x.id}}</td>
                    <td align="center">{{x.carnum}}</td>
                    <td align="center">{{x.carmodel}}</td>
                    <td align="center"><img height="30px" width="70px" ng-src="{{x.carimg}}"></td>
                    <td align="center">{{x.carbelong}}</td>
                    <td align="center">
                        <button class="btn btn-warning" ng-click="update($index)">修改</button>
                        <button class="btn btn-danger" ng-click="del($index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 添加信息 -->
            <div class="modal" id="modal-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <h3 class="modal-title">添加信息</h3>
                        </div>
                        <div class="modal-body">
                            <div class="input-group  ">
                                <span class="input-group-addon">订单号</span>
                                <input ng-model="ordernum" id="ordernum" type="text" class="form-control">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">用户名</span>
                                <input ng-model="username" id="username" type="text" class="form-control">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">身份证号码</span>
                                <input ng-model="idcard" id="idcard" type="text" class="form-control">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">用户联系方式</span>
                                <input ng-model="usertel" id="usertel" type="text" class="form-control">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">出发地</span>
                                <input ng-model="startlocation" id="startlocation" type="text" class="form-control">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">收货地</span>
                                <input ng-model="endlocation" id="endlocation" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-success" ng-click="save()">保存</button>
                        </div>

                    </div>

                </div>
            </div>

            <!-- 修改信息 -->
            <div class="modal" id="modal-2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <h3 class="modal-title">修改信息</h3>
                        </div>
                        <div class="modal-body">
                            <div class="input-group  ">
                                <span class="input-group-addon">订单号</span>
                                <input type="text" ng-model="prod.ordernum" class="form-control"
                                       value="{{prod.ordernum}}">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">用户名</span>
                                <input type="text" ng-model="prod.username" class="form-control"
                                       value="{{prod.username}}">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">身份证号码</span>
                                <input type="text" ng-model="prod.idcard" class="form-control" value="{{prod.idcard}}">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">用户联系方式</span>
                                <input type="text" ng-model="prod.usertel" class="form-control"
                                       value="{{prod.usertel}}">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">出发地</span>
                                <input type="text" ng-model="prod.startlocation" class="form-control"
                                       value="{{prod.startlocation}}">
                            </div>
                            <br>
                            <div class="input-group  ">
                                <span class="input-group-addon">收货地</span>
                                <input type="text" ng-model="prod.endlocation" class="form-control"
                                       value="{{prod.endlocation}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button class="btn btn-success" ng-click="ensure()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('car', function ($scope, $http) {
        $http.get("../car/carlist")
            .success(function (response) {
                $scope.name = response;
            });
        $scope.prod = {};
        //删除
        $scope.del = function ($index) {
            if ($index >= 0) {
                if (confirm("是否删除订单：" + $scope.name[$index].ordernum)) {
                    $http.get("../userscan/deleteorder?key=" + $scope.name[$index].id)
                        .success(function (response) {
                            alert("删除成功！");
                            location.reload();
                        });
                }
            }
        };
        //更新
        $scope.update = function ($index) {
            $('#modal-2').modal('show');
            $scope.prod.ordernum = $scope.name[$index].ordernum;
            $scope.prod.username = $scope.name[$index].username;
            $scope.prod.idcard = $scope.name[$index].idcard;
            $scope.prod.usertel = $scope.name[$index].usertel;
            $scope.prod.startlocation = $scope.name[$index].startlocation;
            $scope.prod.endlocation = $scope.name[$index].endlocation;
            $scope.prod.id = $scope.name[$index].id;

            idx = $index;
        };
        var idx = -1;
        // 添加
        $scope.add = function () {
            $('#modal-1').modal('show');
        };
        //定义一个点击添加按钮时触发的事件，用于新增数据
        $scope.save = function () {
            //将添加的值赋给数组
            $http.get("../userscan/insert?ordernum=" + $scope.ordernum
                + "&username=" + $scope.username + "&idcard=" + $scope.idcard+"&usertel="+$scope.usertel
                + "&startlocation=" + $scope.startlocation + "&endlocation=" + $scope.endlocation)
                .success(function (response) {
                    alert("修改成功！");
                    location.reload();
                })
                .error(function (error) {
                    alert(error);
                });

            $('#modal-1').modal('hide');
        };

        // 确认
        $scope.ensure = function () {
            $http.get("../userscan/update?ordernum=" + $scope.prod.ordernum
                + "&username=" + $scope.prod.username + "&idcard=" + $scope.prod.idcard+ "&usertel="+ $scope.prod.usertel
                + "&startlocation=" + $scope.prod.startlocation + "&endlocation=" + $scope.prod.endlocation+"&id="+ $scope.prod.id)
                .success(function (response) {
                    alert("修改成功！");
                    location.reload();
                })
                .error(function (error) {
                    alert(error);
                });
            $('#modal-2').modal('hide');
        };
    });

</script>
</div>
</body>
</html>