<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.4.6&key=4e0f85e120108994af79bfebb175b85b"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>

    <style>
        html, body {
            height: 100%;
        }

        .row {
            height: 90%;
        }

        .nav {
            height: 10%;
        }

        #fullS {
            height: 100%;
        }

        #map {
            height: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #30a5ff">快递小哥后台管理系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">APP下载</a></li>
                    <li><a href="#">订单查询</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            数据库管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">用户</a></li>
                            <li class="divider"></li>
                            <li><a href="#">快递员</a></li>
                            <li class="divider"></li>
                            <li><a href="#">总订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">站点订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-2 sidebar">
        <form role="search">
            <div class="form-group" style="margin-left: 8px">
                <input type="text" class="form-control" placeholder="搜索订单">
            </div>
        </form>
        <ul class="nav menu" style="margin-left: 8px">
            <li><a style="background:#FFF5EE"href="http://localhost:8080/map/index"><span class="glyphicon glyphicon-dashboard"></span> 快递点</a>
            </li>
            <br>
            <li><a  href="http://localhost:8080/order/orderscan"><span class="glyphicon glyphicon-th"></span> 订单</a>
            </li>
            <br>
            <li><a  href="http://localhost:8080/userscan/usermanager"><span
                    class="glyphicon glyphicon-stats"></span> 用户管理</a></li>
            <br>
            <li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> 统计</a></li>
            <br>
            <li><a href="http://localhost:8080/car/carindex"><span class="glyphicon glyphicon-pencil"></span> 车辆管理</a></li>
            <br>
            <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> 后台接口管理</a></li>
            <br>
            <li role="presentation" class="divider"></li>
        </ul>
        <br>
        <br>
        <br>
        <div class="attribution"></div>
    </div>
    <div class="col-md-10" id="fullS">
        <div id="map">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'get',
            url: 'http://localhost:8080/userscan/list',
            cache: false,
            dataType: 'json',
            error: function () {
                alert("请求失败")
            },
            success: function (data) {
                var map = new AMap.Map('map', {
                    resizeEnable: true,
                    zoom: 13
                });
                map.clearMap();
                map.plugin(["AMap.CitySearch"], function() {
                    var citysearch = new AMap.CitySearch();
                    citysearch.getLocalCity();
                    AMap.event.addListener(citysearch, "complete", function(result) {
                        var citybounds;
                        if (result && result.city && result.bounds) {
                            citybounds = result.bounds;
                            map.setBounds(citybounds);
                        }
                    });
                });
                // alert(data)
                $.each(data,function(index,obj){
                    new AMap.Marker({
                        map: map,
                        size: new AMap.Size(30, 30),
                        icon: "http://182.254.147.87/ic_location.png",
                        position: [obj['longitude'], obj['latitude']],
                        offset: new AMap.Pixel(-12, -36)
                    });
                });
            }
        });
    });

</script>
<script>




</script>

</body>
</html>