<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.4.6&key=4e0f85e120108994af79bfebb175b85b"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>

    <style>
        html, body {
            height: 100%;
        }
        .row {
            height: 90%;
        }
        .nav {
            height: 10%;
        }
        #fullS {
            height: 100%;
        }
        #map {
            height: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #30a5ff">快递小哥后台管理系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">APP下载</a></li>
                    <li><a href="#">订单查询</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            数据库管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">用户</a></li>
                            <li class="divider"></li>
                            <li><a href="#">快递员</a></li>
                            <li class="divider"></li>
                            <li><a href="#">总订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">站点订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-2 sidebar">
        <form role="search">
            <div class="form-group" style="margin-left: 8px">
                <input type="text" class="form-control" placeholder="搜索订单">
            </div>
        </form>
        <ul class="nav menu" style="margin-left: 8px">
            <li><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> 快递点</a></li>
            <br>
            <li><a href="widgets.html"><span class="glyphicon glyphicon-th"></span> 订单</a></li>
            <br>
            <li><a href="charts.html"><span class="glyphicon glyphicon-stats"></span> 用户管理</a></li>
            <br>
            <li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> 统计</a></li>
            <br>
            <li><a href="forms.html"><span class="glyphicon glyphicon-pencil"></span> 车辆管理</a></li>
            <br>
            <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> 后台接口管理</a></li>
            <br>
            <li role="presentation" class="divider"></li>
        </ul>
        <br>
        <br>
        <br>
        <div class="attribution"></div>
    </div>
    <div class="col-md-10" id="fullS">
        <div id="map">
    </div>
</div>
<script>
    var map = new AMap.Map('map', {
        resizeEnable: true,
        center: [116.397428, 39.90923],
        zoom: 13
    });
    map.clearMap();
    var markers = [{
        position: [116.205467, 39.907761]
    }, {
        position: [116.368904, 39.913423]
    }, {
        position: [116.305467, 39.807761]
    }];
    markers.forEach(function (marker) {
        new AMap.Marker({
            map: map,
            size: new AMap.Size(30, 30),
            icon: "http://182.254.147.87/ic_location.png",
            position: [marker.position[0], marker.position[1]],
            offset: new AMap.Pixel(-12, -36)
        });
    });
    var center = map.getCenter();
    var centerText = '当前中心点坐标：' + center.getLng() + ',' + center.getLat();
    // document.getElementById('centerCoord').innerHTML = centerText;
    // document.getElementById('tips').innerHTML = '成功添加三个点标记，其中有两个在当前地图视野外！';


</script>
</body>
</html>