<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.4.6&key=4e0f85e120108994af79bfebb175b85b"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/AMap.WalkingRender1120.css"/>
    <script type="text/javascript"
            src="https://webapi.amap.com/maps?v=1.4.9&key=e77295c0a6d4d4ed3b91b307dd6cc623&plugin=AMap.Walking"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/WalkingRender1230.js"></script>
    <style>
        .info {
            border: solid 1px silver;
        }

        #panel {
            z-index: 999;
            position: absolute;
            background-color: white;
            max-height: 100%;
            overflow-y: auto;
            right: 0;
            width: 280px;
        }

        div.info-top {
            position: relative;
            background: none repeat scroll 0 0 #F9F9F9;
            border-bottom: 1px solid #CCC;
            border-radius: 5px 5px 0 0;
        }

        div.info-top div {
            display: inline-block;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
            padding: 0 10px;
        }

        div.info-top img {
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        }

        div.info-top img:hover {
            box-shadow: 0px 0px 5px #000;
        }

        div.info-middle {
            font-size: 12px;
            padding: 6px;
            line-height: 20px;
        }

        div.info-bottom {
            height: 0px;
            width: 100%;
            clear: both;
            text-align: center;
        }

        div.info-bottom img {
            position: relative;
            z-index: 104;
        }

        span {
            margin-left: 5px;
            font-size: 11px;
        }

        .info-middle img {
            float: left;
            margin-right: 6px;
        }

        html, body {
            height: 100%;
        }

        .row {
            height: 90%;
        }

        .nav {
            height: 10%;
        }

        #fullS {
            height: 100%;
        }

        #map {
            height: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #30a5ff">快递小哥后台管理系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a onclick="scanDown()">APP下载</a></li>
                    <li><a href="#">订单查询</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            数据库管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">用户</a></li>
                            <li class="divider"></li>
                            <li><a href="#">快递员</a></li>
                            <li class="divider"></li>
                            <li><a href="#">总订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">站点订单</a></li>
                            <li class="divider"></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="row">
    <div class="col-md-2 sidebar">
        <form role="search">
            <div class="form-group" style="margin-left: 8px">
                <input type="text" class="form-control" placeholder="搜索订单">
            </div>
        </form>
        <ul class="nav menu" style="margin-left: 8px">
            <li><a href="../programme/index"><span
                    class="glyphicon glyphicon-dashboard"></span> 配送方案</a>
            </li>
            <br>
            <li><a style="background:#FFF5EE" href="../map/index"><span
                    class="glyphicon glyphicon-map-marker"></span> 快递点</a>
            </li>
            <br>
            <li><a href="../order/orderscan"><span class="glyphicon glyphicon-th"></span> 订单</a>
            </li>
            <br>
            <li><a href="../userscan/usermanager"><span
                    class="glyphicon glyphicon-stats"></span> 用户管理</a></li>
            <br>
            <li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> 统计</a></li>
            <br>
            <li><a href="../car/carindex"><span class="glyphicon glyphicon-pencil"></span> 车辆管理</a>
            </li>
            <br>
            <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> 后台接口管理</a></li>
            <br>
            <li role="presentation" class="divider"></li>
        </ul>
        <br>
        <br>
        <br>
        <div class="attribution"></div>
    </div>
    <div class="col-md-10" id="fullS">
        <div id="map"></div>
    </div>
    <div id="panel"></div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px;
        height: 100px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    快递小哥APP下载
                </h4>
            </div>
            <img class="modal-body" th:src="@{/img/ic_scan.png}" height="300px" width="100%"/>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    function scanDown() {
        $('#myModal').modal('show');
    }

    var map;
    $(document).ready(function () {

        /***
         * 地图标记点请求
         */
        map = new AMap.Map('map', {
            resizeEnable: true,
            zoom: 13
        });
        /***
         //  * 快递点标记
         //  */
        // var walking = new AMap.Walking(); //构造路线导航类
        // //根据起终点坐标规划步行路线，您如果想修改结果展现效果，请参考页面：https://lbs.amap.com/fn/css-style/
        // walking.search(new AMap.LngLat(116.464996,39.971433), new AMap.LngLat(116.396034,39.923271), function(status, result){
        //     if(status === 'complete'){
        //         (new Lib.AMap.WalkingRender()).autoRender({
        //             data: result,
        //             map: map
        //         });
        //     }
        // });
        // $.ajax({
        //     type: 'get',
        //     url: '../expressstation/all',
        //     cache: false,
        //     dataType: 'json',
        //     error: function () {
        //         alert("请求失败")
        //     },
        //     success: function (data) {
        //         $.each(data, function (index, item) {
        //             var marker = new AMap.Marker({
        //                 map: map,
        //                 size: new AMap.Size(30, 30),
        //                 icon: "../img/ic_express.png",
        //                 position: [item['longtitude'], item['latitude']],
        //                 offset: new AMap.Pixel(-12, -36)
        //             });
        //             marker.on('click', function () {
        //                 var infoWindow = new AMap.InfoWindow({
        //                     isCustom: true,  //使用自定义窗体
        //                     content: createInfoWindow(data, index),
        //                     offset: new AMap.Pixel(16, -45)
        //                 });
        //                 infoWindow.open(map, marker.getPosition());
        //             });
        //
        //         });
        //     }
        // });

        $.ajax({
            type: 'get',
            url: '../userscan/list',
            cache: false,
            dataType: 'json',
            error: function () {
                alert("请求失败")
            },
            success: function (data) {
                console.log(data);
                map.clearMap();
                var walking = new AMap.Walking(); //构造路线导航类
                 new AMap.Marker({
                    map: map,
                    size: new AMap.Size(20, 23),  //图标大小
                    icon: "http://bmob-cdn-20920.b0.upaiyun.com/2018/08/16/95ae5ca840c0652c80d04d96c96e884c.png",
                    position: [120.751644, 30.767137],
                    offset: new AMap.Pixel(-12, -36)
                });
                $.each(data, function (index, obj) {
                    //根据起终点坐标规划步行路线，您如果想修改结果展现效果，请参考页面：https://lbs.amap.com/fn/css-style/
                    walking.search(new AMap.LngLat(120.751644, 30.767137), new AMap.LngLat(obj['longitude'], obj['latitude']), function (status, result) {
                        if (status === 'complete') {
                            console.log(obj['longitude'], obj['latitude']);
                            (new Lib.AMap.WalkingRender()).autoRender({
                                data: result,
                                map: map,
                                isOutline: false,
                                outlineColor: "white",
                                hideMarkers: true
                            });
                        }
                    });

                    var marker = new AMap.Marker({
                        map: map,
                        size: new AMap.Size(20, 23),  //图标大小
                        icon: "http://bmob-cdn-20920.b0.upaiyun.com/2018/08/16/1bb133834083ec3c80687162012d16f9.png",
                        position: [obj['longitude'], obj['latitude']],
                        offset: new AMap.Pixel(-12, -36)
                    });
                    marker.on('click', function () {
                        var infoWindow = new AMap.InfoWindow({
                            isCustom: true,  //使用自定义窗体
                            content: createInfoWindow(data, index),
                            offset: new AMap.Pixel(16, -45)
                        });
                        infoWindow.open(map, marker.getPosition());
                    });
                });
            }
        });

    });


    //构建自定义信息窗体
    function createInfoWindow(data, index) {
        var content = [];
        content.push("<br>详细地址：" + data[index].endlocation);
        content.push("<br>订单号码：" + data[index].ordernum);
        content.push("<br>用户名：" + data[index].username);
        var info = document.createElement("div");
        info.className = "info";
        var top = document.createElement("div");
        var titleD = document.createElement("div");
        var closeX = document.createElement("img");
        top.className = "info-top";
        titleD.innerHTML = "收件人详细信息";
        closeX.src = "https://webapi.amap.com/images/close2.gif";
        closeX.onclick = function (ev) {
            map.clearInfoWindow();
        };

        top.appendChild(titleD);
        top.appendChild(closeX);
        info.appendChild(top);

        // 定义中部内容
        var middle = document.createElement("div");
        middle.className = "info-middle";
        middle.style.backgroundColor = 'white';
        middle.innerHTML = content;
        info.appendChild(middle);

        // 定义底部内容
        var bottom = document.createElement("div");
        bottom.className = "info-bottom";
        bottom.style.position = 'relative';
        bottom.style.top = '0px';
        bottom.style.margin = '0 auto';
        var sharp = document.createElement("img");
        sharp.src = "https://webapi.amap.com/images/sharp.png";
        bottom.appendChild(sharp);
        info.appendChild(bottom);
        return info;
    }

</script>

</body>
</html>